<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Add a new restaurant</h1>
      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.input :category %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
